@import "tailwindcss";

@font-face {
    font-family: 'Zyntro';
    src: url("./assets/Fonts/zyntro-demo/ZyntroDemo-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}




